<!doctype html>
<html>
<head>
  <title>Madlibs</title>
</head>
<body>

    <form action="/madlib">
        Enter a name: <input type="text" name="entered_name">
        <br>
        Enter a color: <input type="text" name="entered_color">
        <br>
        Enter a noun: <input type="text" name="entered_noun">
        <br>
        Enter an adjective: <input type="text" name="entered_adjective">
        <br>
        Enter an animal: <input type="text" name="entered_animal">
        <br>
        Select the weather:
        <select name="weather">
            <option value="rainy"> Rainy day</option>
            <option value="sunnny"> Sunny day</option>
            <option value="cloudy"> Cloudy day</option>
        </select>

  <input type="submit">
    </form>
</body>
</html>