<!doctype html>
<html>
<head>
  <title>Madlib</title>
  <link rel="stylesheet" href="/static/madlibs.css">
  <link href="https://fonts.googleapis.com/css?family=Dokdo" rel="stylesheet">
</head>
<body>
<p> 
    On a  <font color="purple"> {{ weather}} </font> day, there once was a <font color="purple">{{ color }} {{ noun }} </font> sitting in the Hackbright Lab.When <font color="purple">  {{ name }} </font> went to pick it up, but a <font color="purple">  {{ animal }} </font> ran by and knocked the <font color="purple">  {{ name }} </font>over and it burst into flames in a totally <font color="purple">  {{ adjective }}</font> way.
</p>


</body>
</html>

